In [4]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Sampath\Desktop\Kaushik files\customer_data.csv")
df.drop(columns=['Unnamed: 0'], inplace=True)
df

   CustomerID   Name  Purchase
0           1   John     200.0
1           2   Jane     300.0
2           3    NaN     150.0
3           4  Alice       NaN
4           5    Bob     500.0

In [5]:
#Identify and count the number of missing values in each column of the customer_data DataFrame#
missing_values_count = df.isnull().sum()
print(missing_values_count)

CustomerID    0
Name          1
Purchase      1
dtype: int64

In [8]:
#Fill the missing values in the 'Name' column with 'Unknown#
df['Name'].fillna('Unknown', inplace=True)
df['Name']

0       John
1       Jane
2    Unknown
3      Alice
4        Bob
Name: Name, dtype: object

In [10]:
#Fill the missing values in the 'Purchase' column with the median of the column#
median_purchase = df['Purchase'].median()
df['Purchase'].fillna(median_purchase, inplace=True)
df['Purchase']

0    200.0
1    300.0
2    150.0
3    250.0
4    500.0
Name: Purchase, dtype: float64

In [11]:
#Drop any rows that still contain missing values#
df.dropna(inplace=True)
df

   CustomerID     Name  Purchase
0           1     John     200.0
1           2     Jane     300.0
2           3  Unknown     150.0
3           4    Alice     250.0
4           5      Bob     500.0

In [39]:
#Filter the DataFrame to show only customers who made purchases above the median value#
filtered_data = df[['Purchase'] > [median_purchase]]
filtered_data

TypeError: '>' not supported between instances of 'str' and 'float'