In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Sampath\Desktop\Kaushik files\sales_data.csv")
df.drop(columns=['Unnamed: 0'], inplace=True)
df

  Month  Product_A  Product_B
0   Jan        150        300
1   Feb        200        250
2   Mar        250        200
3   Apr        300        150
4   May        350        100

In [17]:
#Calculate the total sales for each product ('Product_A' and 'Product_B') in the sales_data DataFrame#
Product_A = df[['Product_A']].sum()
Product_B = df[['Product_B']].sum()
Product_A , Product_B

(Product_A    1250
 dtype: int64,
 Product_B    1000
 dtype: int64)

In [25]:
#Find the month with the highest sales for Product_A#
Max_sales_Product_A = df.loc[df['Product_A'].idxmax(), 'Month']
Max_sales_Product_A

'May'

In [26]:
#Add a new column 'Total_Sales' which is the sum of 'Product_A' and 'Product_B#
df['Total_Sales'] = df['Product_A'] + df['Product_B']
df['Total_Sales']

0    450
1    450
2    450
3    450
4    450
Name: Total_Sales, dtype: int64

In [35]:
#Normalize the 'Product_A' sales by dividing by the maximum sales#
df['Normalized_Product_A'] = df['Product_A'] / Max_sales_Product_A
df

  Month  Product_A  Product_B  Total_Sales  Normalized_Product_A
0   Jan        150        300          450              0.428571
1   Feb        200        250          450              0.571429
2   Mar        250        200          450              0.714286
3   Apr        300        150          450              0.857143
4   May        350        100          450              1.000000

In [36]:
#Filter the DataFrame to show only months where total sales exceeded 400#
filtered_sales_data = df[df['Total_Sales'] > 400]
filtered_sales_data

  Month  Product_A  Product_B  Total_Sales  Normalized_Product_A
0   Jan        150        300          450              0.428571
1   Feb        200        250          450              0.571429
2   Mar        250        200          450              0.714286
3   Apr        300        150          450              0.857143
4   May        350        100          450              1.000000